.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(2px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    label {
        color: rgba($color: #ffffff, $alpha: 0.8);
        font-weight: 600;
        font-size: 1.4rem;
    }
    
    input {
        color: rgba($color: #ffffff, $alpha: 0.9);
    }

    form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 20rem;
        height: max-content;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.5);
        box-shadow: 0rem 0rem 1rem 0.2rem rgba($color: #000000, $alpha: 1.0);
        border-radius: 1rem;
        padding: 1rem;

        .tagContainer {    
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: max-content;
            gap: 0.3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;

            .singleTag {
                position: relative;
                width: max-content;
                height: 1.7rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid rgba($color: #ffffff, $alpha: 0.8);
                border-radius: 0.5rem;
                padding: 0.4rem;
    
                h5 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 400;
                    font-family: Arial, Helvetica, sans-serif;
                    letter-spacing: 0.07rem;
                    color: rgba($color: #ffffff, $alpha: 0.9);
                }

                h3 {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    font-family: Arial, Helvetica, sans-serif;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 1.0);
                    border-radius: inherit;
                    color: red;
                    cursor: pointer;
                    transition: opacity ease-out 0.15s;
                    user-select: none;

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }

            .tagInput {
                flex: 0 1 100%;
                height: 1.5rem;
                background-color: rgba($color: #000000, $alpha: 0.8);
                border: 1px solid rgba($color: #ffffff, $alpha: 0.8);
                outline: none;
                font-family: Arial, Helvetica, sans-serif;
                letter-spacing: 0.07rem;
                border-radius: 0.3rem;
                padding: 0.3rem;
                margin-top: 0.3rem;

                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }

        .submitBtn {
            background-color: rgba($color: #ffffff, $alpha: 0.9);;
            color: rgba($color: #000000, $alpha: 1);
            border: none;
            border-radius: 0.5rem;
            outline: none;
            padding: 0.4rem;
            cursor: pointer;
            transition: opacity ease-out 0.15s;
            font-weight: 600;
            margin-bottom: 0.5rem;
            
            &:hover {
                opacity: 0.7;
            }

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }

        .cancelBtn {
            cursor: pointer;
            color: rgba($color: #ffffff, $alpha: 0.9);
            transition: opacity ease-out 0.15s;
            font-family: Arial, Helvetica, sans-serif;

            &:hover {
                opacity: 0.7;
            }

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}