@import '../variables';

.container {
    width: 100%;
    height: $nav_height;
    border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.8);
    background-color: rgba($color: #000000, $alpha: 0.8);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 2rem;
    top: 0;
    position: sticky;
    z-index: 1000;
    backdrop-filter: blur(3px);
    color: rgba($color: #ffffff, $alpha: 0.9);

    @media only screen and (max-width: 768px) {
        padding: 0 1rem;
    }

    &.hide {
        height: 0;
        overflow: hidden;
    }

    .navChunk {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;

        a {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            transition: opacity ease-out 0.15s;

            @media only screen and (max-width: 768px) {
                width: 4rem;
            }

            &:hover {
                opacity: 0.6;
            }
        }

        @media only screen and (max-width: 768px) {
            gap: 0.5rem;
        }

        &.leftNav {
            justify-content: flex-start;
            
            .appLogo {
                cursor: pointer;
                transition: opacity ease-out 0.15s;
                width: max-content;
                height: max-content;

                &:hover {
                    opacity: 0.6;
                }

                svg {
                    width: 2.5rem;
                    height: auto;
                }
            }
        }
        &.rightNav {
            justify-content: flex-end;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

}