.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 1.0);

    .exitBtn {
        position: absolute;
        left: 0;
        top: 0;
        width: 10rem;
        height: 10rem;
        opacity: 0;
        z-index: 100;
        transition: opacity ease-out 0.2s;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        &.mobile {
            opacity: 0.6;
        }

        &:hover {
            opacity: 0.6;
        }

        button {
            width: 2rem;
            height: 2rem;
            margin: 2rem;
            background-color: rgba($color: #000000, $alpha: 0.8);
            color: rgba($color: #ffffff, $alpha: 1.0);
            border: none;
            border-radius: 50%;
            outline: none;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 25px;
            cursor: pointer;
            transition: opacity ease-out 0.15s;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .rightSide {
        position: absolute;
        right: 0;
        top: 0;
        width: max-content;
        height: max-content;
        padding: 2rem;
        opacity: 0;
        z-index: 100;
        transition: opacity ease-out 0.2s;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-items: center;
        gap: 2rem;

        &:hover, &.mobile {
            opacity: 1;
        }

        h2 {
            color: rgba($color: #ffffff, $alpha: 0.7);
            background-color: rgba($color: #000000, $alpha: 0.6);
            // border: 2px solid rgba($color: #000000, $alpha: 1.0);
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            transition: opacity 0.15s ease-out;
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }
        }

        .options {
            height: max-content;
        }
    }


    .photoContainer {
        width: 100%;
        height: 100%;
        position: relative;
        user-select: none;

        img {
            pointer-events: none; 
        }
    }

    .imgBtn {
        position: absolute;
        background-color: rgba($color: #ffffff, $alpha: 1.0);
        width: 3rem;
        height: 10rem;
        top: 0;
        bottom: 0;
        margin: auto 0;
        z-index: 100;
        opacity: 0;
        transition: opacity ease-out 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            opacity: 0.3;
        }

        h1 {
            font-weight: 800;
            user-select: none;
            font-family: Arial, Helvetica, sans-serif;
        }

        &.mobile {
            opacity: 0.3;
            width: 2rem;
            height: 6rem;
            
            @media only screen and (min-width: 768px) and (min-height: 768px) {
                height: 8rem;
            }
        }

        &.hide {
            display: none;
        }
    }

    .prevImgBtn {
        left: 0;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .nextImgBtn {
        right: 0;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
    }
}
