.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.container .exitBtn {
  position: absolute;
  left: 0;
  top: 0;
  width: 10rem;
  height: 10rem;
  padding: 2rem;
  opacity: 0.2;
  z-index: 100;
  -webkit-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .exitBtn.mobile {
  opacity: 0.6;
}

.container .exitBtn:hover {
  opacity: 0.6;
}

.container .exitBtn button {
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  border-radius: 50%;
  outline: none;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 25px;
  cursor: pointer;
  -webkit-transition: opacity ease-out 0.15s;
  transition: opacity ease-out 0.15s;
}

.container .exitBtn button:hover {
  opacity: 0.8;
}

.container .rightSide {
  position: absolute;
  right: 0;
  top: 0;
  width: 10rem;
  height: 10rem;
  padding: 2rem;
  opacity: 0.2;
  z-index: 100;
  -webkit-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: flex-end;
  gap: 2rem;
}

.container .rightSide:hover, .container .rightSide.mobile {
  opacity: 1;
}

.container .rightSide h2 {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  -webkit-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
  cursor: pointer;
}

.container .rightSide h2:hover {
  opacity: 0.6;
}

.container .rightSide .options {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.container .photoContainer {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .photoContainer img {
  pointer-events: none;
}

.container .imgBtn {
  position: absolute;
  background-color: white;
  width: 3rem;
  height: 10rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 100;
  opacity: 0.15;
  -webkit-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.container .imgBtn:hover {
  opacity: 0.3;
}

.container .imgBtn h1 {
  font-weight: 800;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.container .imgBtn.mobile {
  opacity: 0.3;
  width: 2rem;
  height: 6rem;
}

@media only screen and (min-width: 768px) and (min-height: 768px) {
  .container .imgBtn.mobile {
    height: 8rem;
  }
}

.container .imgBtn.hide {
  display: none;
}

.container .prevImgBtn {
  left: 0;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.container .nextImgBtn {
  right: 0;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.container .imgInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: white;
  -webkit-transition: opacity ease-out 0.2s, z-index 0.2s linear 0s;
  transition: opacity ease-out 0.2s, z-index 0.2s linear 0s;
  gap: 1rem;
}

.container .imgInfo.active {
  -webkit-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
  opacity: 1;
  z-index: 1000;
}
/*# sourceMappingURL=SlideView.module.css.map */